<<h1>{{title}}</h1>

    <div class="home" *ngIf="isLoggedIn()">
        <form action="">
            <input type="text" name="searchInput" (keyup)="onKey()" autofocus [(ngModel)]="formSearch.searchInput">
        </form>

        <div class="card" *ngFor="let cont of allContacts">
            <p>{{ cont.name }}</p>
            address: {{cont.address}}<br>
            mobile: {{cont.mobile}}<br>
            email: {{cont.email}}<br>
            instagram: {{cont.instagram}}<br>
        </div>

       
        <!-- <button (click)="searchInput()">Search</button> -->
    </div>

    <div *ngIf="!isLoggedIn()">
        Must Sign In First
    </div>