.mainDiv{
    position:absolute;
    top:0;
    right:0;
    margin-right: 15px;
    border-radius: 10px;
    display: inline-block;
    border: solid rgb(163, 242, 244);
    background-color: rgb(163, 242, 244);
    border-radius: 10px; 
    padding: 5px;
    font-family: 'Rajdhani', sans-serif;
    text-shadow: black 5px;
}
