<div class="mainDiv">
    <div><a routerLink="/">Home</a></div>
    <div><a routerLink="/contacts">Contacts</a></div>
    <div><a routerLink="/profile">My Profile</a></div>
    <div><a routerLink="/create">Create</a></div>

    <div class="right">
        <div *ngIf="user.isLoggedIn">
            Hello, {{ user.username }},
            <button (click)="logout()">Logout</button>
        </div>

        <div *ngIf="!isLoggedIn()">
            <button (click)="login()">Login</button>
        </div>

    </div>