<h1>Create New Contact</h1>

<div class="create" *ngIf="isLoggedIn()">
        <div id="container">
          <form action="">
      
            <div class="row">
              <div class="rowHeader">
                <label>name:</label>
              </div>
              <div class="rowData">
                <input type="text" name="name" placeholder="first last" [(ngModel)]="formPlug.name">
              </div>
            </div>
      
            <div class="row">
              <div class="rowHeader">
                <label>address:</label>
              </div>
              <div class="rowData">
                <input type="text" name="address" placeholder="street, city, zipcode" [(ngModel)]="formPlug.address">
              </div>
            </div>
      
            <div class="row">
              <div class="rowHeader">
                <label>mobile:</label>
              </div>
              <div class="rowData">
                <input type="text" name="mobile" placeholder="phone"[(ngModel)]="formPlug.mobile">
              </div>
            </div>


            <div class="row">
              <div class="rowHeader">
                <label>email:</label>
              </div>
              <div class="rowData">
                <input type="text" name="email" placeholder="email" [(ngModel)]="formPlug.email">
              </div>
            </div>
   
            <div class="row">
              <div class="rowHeader">
                <label>instagram:</label>
              </div>
              <div class="rowData">
                <input type="text" name="instagram" placeholder="@name"[(ngModel)]="formPlug.instagram">
              </div>
            </div>

            <button (click)="createContact()">Create Contact</button>
      
          </form>
        </div>
      </div>

<div *ngIf="!isLoggedIn()">
    <div>
        Please Sign In, before continuing
    </div>
</div>